<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:fire="http://wixtoolset.org/schemas/v4/wxs/firewall">
  <Package Name="Cloud Gaming Host"
           Manufacturer="Reflex Gaming"
           Version="$(var.ProductVersion)"
           UpgradeCode="8B4EBCB2-83DB-4F9D-A2C4-C5A8F5600651"
           Scope="perMachine"
           InstallerVersion="500"
           Language="1033">
    <SummaryInformation Description="Cloud Gaming Host Windows application" />
    <MajorUpgrade DowngradeErrorMessage="A newer version of Cloud Gaming Host is already installed." />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <StandardDirectory Id="ProgramFiles64Folder">
      <Directory Id="INSTALLFOLDER" Name="Cloud Gaming Host">
        <Component Id="MainExecutable" Guid="*" Bitness="always64">
          <File Id="HostExe" Source="$(var.PayloadDir)\DisplayCaptureProject.exe" KeyPath="yes">
            <fire:FirewallException Id="HostFirewallRule" Name="Cloud Gaming Host"
                                    Description="Allows Cloud Gaming Host WebRTC and signaling traffic."
                                    Scope="any" Profile="all" IgnoreFailure="yes" />
          </File>
        </Component>
        <Component Id="RuntimeFfmpeg" Guid="1AA27F91-D9B0-40ED-B164-08A45D06F4FB" Bitness="always64">
          <File Source="$(var.PayloadDir)\avcodec-61.dll" />
          <File Source="$(var.PayloadDir)\avdevice-61.dll" />
          <File Source="$(var.PayloadDir)\avfilter-10.dll" />
          <File Source="$(var.PayloadDir)\avformat-61.dll" />
          <File Source="$(var.PayloadDir)\avutil-59.dll" />
          <File Source="$(var.PayloadDir)\postproc-58.dll" />
          <File Source="$(var.PayloadDir)\swresample-5.dll" />
          <File Source="$(var.PayloadDir)\swscale-8.dll" />
        </Component>
        <Component Id="RuntimeWebRtc" Guid="56C03722-E9C2-49F8-909C-D345BE0D0B29" Bitness="always64">
          <File Source="$(var.PayloadDir)\webrtc.dll" />
          <File Source="$(var.PayloadDir)\opus.dll" />
        </Component>
        <Component Id="RuntimeSecurity" Guid="7FD4DDB6-C732-4594-B0BD-D4FCA546A86B" Bitness="always64">
          <File Source="$(var.PayloadDir)\libssl-3-x64.dll" />
          <File Source="$(var.PayloadDir)\libcrypto-3-x64.dll" />
        </Component>
        <Component Id="RuntimeVisualCpp" Guid="24464C38-7EF8-4020-BC81-9CBBAB62D980" Bitness="always64">
          <File Source="$(var.PayloadDir)\msvcp140.dll" />
          <File Source="$(var.PayloadDir)\vcruntime140.dll" />
          <File Source="$(var.PayloadDir)\vcruntime140_1.dll" />
        </Component>
        <Component Id="ProductDocuments" Guid="A3BD2398-1F83-4604-BE90-2597F9324FA9" Bitness="always64">
          <File Source="$(var.PayloadDir)\config.json" />
          <File Source="$(var.PayloadDir)\LICENSE.md" />
          <File Source="$(var.PayloadDir)\THIRD_PARTY_NOTICES.md" />
          <File Source="$(var.PayloadDir)\server.env.example" />
          <File Source="$(var.PayloadDir)\package-manifest.json" />
          <File Source="$(var.PayloadDir)\Configure-Host.ps1" />
          <File Source="$(var.PayloadDir)\New-ServerEnvironment.ps1" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="ProgramMenuFolder">
      <Directory Id="ProgramMenuProductFolder" Name="Cloud Gaming Host">
        <Component Id="StartMenuFolder" Guid="*">
          <Shortcut Id="StartMenuShortcut" Name="Cloud Gaming Host"
                    Target="[INSTALLFOLDER]DisplayCaptureProject.exe"
                    WorkingDirectory="INSTALLFOLDER" />
          <RemoveFolder Id="RemoveProgramMenuFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Reflex Gaming\Cloud Gaming Host"
                         Name="StartMenuInstalled" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <StandardDirectory Id="LocalAppDataFolder">
      <Directory Id="UserDataFolder" Name="CloudGamingHost">
        <Component Id="UserDataCleanup" Guid="*">
          <RemoveFile Id="RemoveUserConfiguration" Name="*" On="uninstall" />
          <RemoveFolder Id="RemoveUserDataFolder" On="uninstall" />
          <RegistryValue Root="HKCU" Key="Software\Reflex Gaming\Cloud Gaming Host"
                         Name="UserData" Type="integer" Value="1" KeyPath="yes" />
        </Component>
      </Directory>
    </StandardDirectory>

    <Feature Id="Complete" Title="Cloud Gaming Host" Level="1">
      <ComponentRef Id="MainExecutable" />
      <ComponentRef Id="RuntimeFfmpeg" />
      <ComponentRef Id="RuntimeWebRtc" />
      <ComponentRef Id="RuntimeSecurity" />
      <ComponentRef Id="RuntimeVisualCpp" />
      <ComponentRef Id="ProductDocuments" />
      <ComponentRef Id="StartMenuFolder" />
      <ComponentRef Id="UserDataCleanup" />
    </Feature>
  </Package>
</Wix>
